* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(202, 253, 102, 0.399);
    padding-top: 2%;
}

.formulario {
    width: 50%;
    height: 30%;
    border: 1px solid black;
    padding: 2px;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.tamano, .rango, .botones {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input- {
    height: 80%;
    width: 30%;
    margin: 3px;
    padding-left: 5%;
}
  
.boton {
    width: 15%;
    height: 80%;
    margin: 5px; 
    background-color: rgb(127, 127, 255);
    border-radius: 5px;

}

h1 {
    margin: 15px;
    font-weight: 100;
}
h3{
    width: 100%;
    text-align: center;
    font-weight: 100;
}
 hr {
    width: 100%;
    height: 2px;
    margin: 20px;
}

.tablas {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction:column;
    margin-bottom: 10px;   
}

.titulos {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    color: rgba(255, 255, 255, 0.96);
    align-items: center;
    background-color: rgb(0, 4, 255);
}

.dostablas{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tabla {
    width:45%;
    height: 90%;
    background-color: rgb(200, 202, 199);
}
tr {
    width: 100%px;
    height: 20%;
    background-color: rgb(245, 255, 51);
}

td {
    width: auto;
    text-align: center;
    font-size: 40px;
}
